.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    align-items: flex-start;
    padding: 2rem 3rem 0;
}

.logo {
    font-family: "Neue Montreal Thin", sans-serif !important;
    font-size: 35px;
    color: #eee;
    flex: 1;
}

.page-buttons {
    display: flex;
    gap: 10px;
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 40px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(242, 242, 242, .1);
    background-color: rgba(242, 242, 242, .05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.page-button {
    background: rgba(242, 242, 242, 0.1);
    color: white;
    /* width: 80px; */
    padding: 10px 25px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.nav-glow {
    width: 24px;
    height: 2px;
    background-color: #f2f2f2;
    border-radius: 2px 2px 0 0;
    margin-left: 33px;
    margin-right: auto;
    box-shadow: 0 2px 25px 2px #fff;
}

.links {
    display: flex;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eee;
    gap: 5px;
    padding: 14px 18px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    transition: box-shadow 0.3s ease-in-out;
}

.link:hover {
    box-shadow: inset   0 0 10px rgba(255, 255, 255, 0.4);
}

.links img {
    background: transparent;
    width: 20px;
    height: auto;
}

.glow {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    transition: left, bottom, right,  0.3s ease-in-out;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 70%;
}

.link:hover .glow {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.animate-nav-glow-enter {
    margin: auto 33px auto auto;
}
.animate-nav-glow-enter-active {
    margin: auto auto auto 35px;
    transition: margin 500ms ease-in-out;
}
.animate-nav-glow-enter-done{
    margin: auto auto auto 35px;
}
.animate-nav-glow-exit {
    margin: auto auto auto 35px;
}
.animate-nav-glow-exit-active {
    margin: auto 33px auto auto;
    transition: margin 500ms ease-in-out;
}
.animate-nav-glow-exit-done{
    margin: auto 33px auto auto;
}