.window-outline {
    margin: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    /* border: 2px solid #f2f2f2; */
    border: 1px solid rgba(242, 242, 242, .15);
    border-radius: 25px;
    max-width: 1000px;
    background-image: radial-gradient(circle farthest-side at 50% 0, rgba(220, 220, 220, .1), rgba(0, 0, 0, 0));
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .6), 0 0 60px rgba(0, 0, 0, .4), 0 0 0;
    animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    border: 1px solid rgba(242, 242, 242, .3);
    margin: 5px;
}

.window .title-bar {
    height: 40px;
    width: 100%;
    backdrop-filter: blur(40px);
    background-image: linear-gradient(to right, rgba(242, 242, 242, .1), rgba(242, 242, 242, .5) 50%, rgba(242, 242, 242, .1));
    border-radius: 19px 19px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-window .window {
    background-image: linear-gradient(180deg, #252525, rgba(17, 17, 17, .7));
}

.title-bar-buttons {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.title-bar-buttons .button {
    width: 12px;
    height: 12px;
    border: 1px solid rgba(16, 16, 16, .25);
    border-radius: 100px;
}

.button.red {
    background-color: #f46b5d;
    box-shadow: 0 0 20px 2px #f46b5d;
}
.button.yellow {
    background-color: #f9bd4e;
    box-shadow: 0 0 20px 2px #f9bd4e;
}
.button.green {
    background-color: #57c353;
    box-shadow: 0 0 20px 2px #57c353;
}



.window-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    border-radius: 0 0 19px 19px;
}

.hero {
    position: relative;
    padding: 70px 132px 70px 30px;
    text-shadow: 0 5px 10px rgba(0, 87, 255, .15), 0 -5px 10px rgba(255, 90, 0, .1), 0 0px 25px rgba(255, 255, 255, .3);
}

.heading {
    font-family: "Neue Montreal Medium", sans-serif;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 60px;
    font-size: 60px;
    color: white;
}

.word-carousel .heading {
    text-wrap: nowrap;
}

.word-carousel {
    display: flex;
    margin-top: 13px;
}

.words {
    position: relative;
    display: block;
    height: 105px;
    color: transparent;
    overflow: hidden;
    margin-top: -15px;
    margin-left: -5px;
}

.words h2 {
    font-family: "Gloock", sans-serif;
    font-size: 60px;
    letter-spacing: 1px;
    font-style: italic;
    padding: 10px 30px 25px 20px;
    animation: slide 6s ease-in-out infinite;
    background: linear-gradient(to bottom, #f2f2f2 50%, #7e7e7e 60%);
    background-clip: text;
}

@keyframes slide {
    13% {
        transform: translateY(-100%);
    }
    33% {
        transform: translateY(-100%);
    }
    53% {
        transform: translateY(-200%);
    }
    66% {
        transform: translateY(-200%);
    }
    87% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-300%);
    }
}

.subtitles {
    font-family: "Neue Montreal Book", sans-serif;
    padding: 0 70px;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    font-size: 20px;
    color: rgba(242, 242, 242, 1);
}

.subtitle:nth-child(2) {
    color: rgba(242, 242, 242, .5);
}

.mobile-window {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateY(100%);
    } 
    60% {
        transform: translateY(300%);
    }
    to {
        transform: translateY(300%);
    }
}

@media screen and (max-width: 1086px) {
    .window-outline {
        height: 600px;
        margin: auto 5vw;
    }

    .hero {
        padding: 4vh 3vw 8vh 20px;
    }

    .heading, .words h2 {
        font-size: 5vw;
    }

    .words {
        height: 95px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 1000px) {
    .logo { display: none; }
    .logo-2 { display: flex; }
    .logo-3 { display: none; }
    .subtitles {
        align-self: flex-start;
        padding: 0 30px;
        font-size: 2vw;
    }
    .words {
        height: 15vh;
        margin-top: -8px;
    }

    .heading, .words h2 {
        font-size: 6vw;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 2rem;
    }
    .word-carousel {
        margin-top: 0;
    }
    .window-outline {
        margin: 3rem 0 9vw;
        height: 80vw;
    }
    .hero {
        padding: 2vh 3vw 5vw 10px;
    }
    .words {
        height: 12vw;
        margin-top: -10px;
    }
    .subtitles {
        padding: 0 15px;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 655px) {
    .logo { display: none; }
    .logo-2 { display: none; }
    .logo-3 { display: flex; }
    
    .word-carousel {
        margin-top: -5px;
    }
    .words {
        height: 12vw;
        margin-top: 0px;
    }
    .links {
        display: none;
    }
    .hamburger {
        display: flex;
    }

    .window-outline {
        margin: 3rem 0 9vw;
        height: 75vw;
    }
    
    .heading {
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 480px) {
    main .window-outline {
        display: none;
    }
    .words {
        margin-top: -8px;
    }
    main .fade-out {
        display: none;
    }


    .work-window {
        margin: 5rem 2rem 2rem;
    }
    .hero {
        margin: 30px;
        padding: 0;
    }

    .word-carousel {
        margin-top: 10px;
    }
    .words {
        height: 20vw;
    }

    .heading, .words h2 {
        font-size: 10vw;
    }

    .subtitles {
        padding: 0 30px;
        font-size: 4vw;
    }
    .mobile-window {
        display: contents;
    }
}
@media screen and (max-width: 400px){
    .words {
        margin-top: -3px;
    }
}
@media screen and (max-width: 350px){
    .heading {
        line-height: 50px;
    }
}