.window-outline {
    margin: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1100px;
    border: 1px solid rgba(242, 242, 242, .15);
    border-radius: 25px;
    background-image: radial-gradient(circle farthest-side at 50% 0, rgba(220, 220, 220, .1), rgba(0, 0, 0, 0));
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .6), 0 0 60px rgba(0, 0, 0, .4), 0 0 0;
    animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.window {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    border: 1px solid rgba(242, 242, 242, .3);
    margin: 6px;
}

.window .title-bar {
    height: 40px;
    width: 100%;
    backdrop-filter: blur(40px);
    background-image: linear-gradient(to right, rgba(242, 242, 242, .1), rgba(242, 242, 242, .5) 50%, rgba(242, 242, 242, .1));
    border-radius: 19px 19px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-window .window {
    background-image: linear-gradient(180deg, #252525, rgba(17, 17, 17, .7));
}

.title-bar-buttons {
    display: flex;
    padding: 20px;
    gap: 10px;
}

.title-bar-buttons .button {
    width: 12px;
    height: 12px;
    border: 1px solid rgba(16, 16, 16, .25);
    border-radius: 100px;
}

.button.red {
    background-color: #f46b5d;
    box-shadow: 0 0 20px 2px #f46b5d;
}
.button.yellow {
    background-color: #f9bd4e;
    box-shadow: 0 0 20px 2px #f9bd4e;
}
.button.green {
    background-color: #57c353;
    box-shadow: 0 0 20px 2px #57c353;
}



.window-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4rem;
    padding-bottom: 8rem;
    border-radius: 0 0 19px 19px;
}

.hero-name {
    font-family: "Neue Montreal Thin", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    gap: 3vw;
    margin: 0 0 4vw 0;
    display: flex;
    font-size: 5vw;
    align-items: center;
    letter-spacing: 1px;
}
.hero-name-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 1);
}

.hero {
    position: relative;
    text-shadow: 0 5px 10px rgba(0, 87, 255, .15), 0 -5px 10px rgba(255, 90, 0, .1), 0 0px 25px rgba(255, 255, 255, .3);
}

.heading {
    font-family: "Neue Montreal Medium", sans-serif;
    letter-spacing: -2px;
    line-height: 5.3rem;
    font-size: 4.2rem;
    color: white;
}

.word-carousel {
    display: flex;
    height: 6.5rem;
}

.words {
    position: relative;
    display: flex;
    flex-direction: column;
    color: transparent;
    overflow: hidden;
}

.words div {
    font-family: "Gloock", sans-serif;
    letter-spacing: 1px;
    font-size: 4rem;
    font-weight: 600;
    padding: 0.1rem 2rem 2rem 1rem;
    font-style: italic;
    animation: slide 6s ease-in-out infinite;
    background: linear-gradient(to bottom, #f2f2f2 40%, #7e7e7e 55%);
    background-clip: text;
}

@keyframes slide {
    13% {
        transform: translateY(-100%);
    }
    33% {
        transform: translateY(-100%);
    }
    53% {
        transform: translateY(-200%);
    }
    66% {
        transform: translateY(-200%);
    }
    87% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-300%);
    }
}

.subtitles {
    font-family: "Neue Montreal Book", sans-serif;
    display: flex;
    margin: 3rem 0;
    letter-spacing: 1px;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    font-size: 1.3rem;
    color: rgba(242, 242, 242, 1);
}

.subtitle:nth-child(2) {
    color: rgba(242, 242, 242, .5);
}

.mobile-window {
    display: none;
}

.mobile-hero-hr {
    margin: 2rem 1rem;
    position: relative;
    display: none;
}

@keyframes scroll {
    from {
        transform: translateY(100%);
    } 
    60% {
        transform: translateY(300%);
    }
    to {
        transform: translateY(300%);
    }
}

@media  screen and (max-width: 1200px){
    .window-outline {
        width: 85%;
    }
    .project-window {
        width: 85%;
    }
    .window-content {
        padding: 5.3vw 5.3vw 10vw;
    }
    .heading {
        font-size: 5.5vw;
        line-height: 7.5vw;
    }
    .word-carousel {
        height: 9vw;
    }
    .words div {
        font-size: 5.5vw;
        padding-top: 0.2rem;
        padding-left: 2.5vw;
    }
    .subtitles {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 1000px) {
    .logo { display: none; }
    .logo-2 { display: flex; }
    .logo-3 { display: none; }

    .heading {
        letter-spacing: -1.5px;
    }
}

@media screen and (max-width: 768px) {
    .logo { display: none; }
    .logo-2 { display: none; }
    .logo-3 { display: flex; }
    * {
        cursor: default;
    }
    .window {
        margin: 1vw;
    }
    .nav {
        padding: 2rem;
    }
    .window-content {
        padding: 4vw 4vw 10vw;
    }
    .subtitles {
        align-self: flex-start;
        margin: 4vw 0;
        font-size: 2vw;
    }
    .links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    main .window-outline {
        display: none;
    }
    main .fade-out {
        display: none;
    }
    .project-window {
        margin: 5rem 2rem 2rem;
    }
    .mobile-window {
        display: block;
        padding: 0 10vw;
        padding-right: 0;
    }
    .heading {
        font-size: 11vw;
        line-height: 14vw;
    }
    .word-carousel>.heading {
        white-space: nowrap;
    }
    .word-carousel {
        height: 20vw;
    }
    .words div {
        font-size: 11vw;
        padding-left: 3vw;
    }
    .subtitles {
        font-size: 3.5vw;
        margin-top: 2vw;
        line-height: 6vw;
    }
    .mobile-hero-hr {
        display: flex;
    }
}